In [2]:
import pandas as pd
from sqlalchemy import create_engine
from google.oauth2.service_account import Credentials
from googleapiclient.discovery import build
from typing import Optional
import os

/mnt/d/Courses/ElevateSubmission05/.env/lib/python3.10/site-packages/google/api_core/_python_version_support.py:275: FutureWarning: You are using a Python version (3.10.19) which Google will stop supporting in new releases of google.api_core once it reaches its end of life (2026-10-04). Please upgrade to the latest Python version, or at least Python 3.11, to continue receiving updates for google.api_core past that date.
  warnings.warn(message, FutureWarning)

In [3]:
# =========================
# LOAD TO CSV
# =========================
def save_to_csv(df: pd.DataFrame, filepath: str = "../products.csv") -> None:
    """
    Menyimpan data ke file CSV (flat file)
    """
    try:
        df.to_csv(filepath, index=False)
    except Exception as e:
        raise IOError(f"Failed to save CSV file: {e}")

In [20]:
import sys
# sys.path.insert(0, "..")

# =========================
# LOAD TO GOOGLE SHEETS
# =========================
def save_to_google_sheets(
    df: pd.DataFrame, 
    spreadsheet_id: str, 
    sheet_name: str = "Sheet1", 
    credentials_path: str = "google-sheets-api.json"
) -> None:
    """
    Menyimpan data ke Google Sheets
    """
    try:
        if not os.path.exists(credentials_path):
            raise FileNotFoundError(
                f"Google credentials not found: {credentials_path}"
            )

        creds = Credentials.from_service_account_file(
            credentials_path,
            scopes=["https://www.googleapis.com/auth/spreadsheets"]
        )

        service = build("sheets", "v4", credentials=creds)

        values = [df.columns.tolist()] + df.values.tolist()

        body = {"values": values}

        service.spreadsheets().values().update(
            spreadsheetId=spreadsheet_id,
            range=f"{sheet_name}!A1",
            valueInputOption="RAW",
            body=body
        ).execute()

    except Exception as e:
        raise RuntimeError(f"Failed to save data to Google Sheets: {e}")

In [4]:
# =========================
# LOAD TO POSTGRESQL
# =========================
def save_to_postgresql(
    df: pd.DataFrame,
    table_name: str,
    connection_uri: str,
    if_exists: str = "replace"
) -> None:
    """
    Menyimpan data ke PostgreSQL menggunakan SQLAlchemy
    """
    try:
        engine = create_engine(connection_uri)
        df.to_sql(
            table_name,
            engine,
            if_exists=if_exists,
            index=False
        )
    except Exception as e:
        raise RuntimeError(f"Failed to save data to PostgreSQL: {e}")

In [5]:
import sys
sys.path.insert(0, "../utils")

import extract
import transform
import json

data = extract.scrape_all_products()

df = transform.transform_products(data)
df.head()

,title,price,rating,colors,size,gender,timestamp
1,T-shirt 2,1634400.0,3.9,3,M,Women,2026-02-11T06:55:26.827093
2,Hoodie 3,7950080.0,4.8,3,L,Unisex,2026-02-11T06:55:26.827093
3,Pants 4,7476960.0,3.3,3,XL,Men,2026-02-11T06:55:26.827093
4,Outerwear 5,5145440.0,3.5,3,XXL,Women,2026-02-11T06:55:26.827093
5,Jacket 6,2453920.0,3.3,3,S,Unisex,2026-02-11T06:55:26.827093

In [7]:
save_to_csv(df)

In [19]:
save_to_google_sheets(df, "1tWZkZovHqIjOPCy7MkupIkFS7DC3f_IdBxCQ-QRHOWQ")

In [21]:
save_to_postgresql(
    df=df,
    connection_uri="postgresql+psycopg2://postgres:bukangajah@127.0.0.1:5432/db_etl",
    table_name="tb_fashion"
)